{templateType  App\Presenters\templates\ChangePassword\ChangePasswordTemplate}
{block content}
<h1>Změna hesla</h1>


    {snippet component-content}
        {control changePasswordControl}
    {/snippet}
