<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" />
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login to ORDERS</title>

    <link rel="stylesheet" type="text/css" href="{$basePath}/css/styles.css" title="Layout CSS" />

	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>

</head>

<body>
    {include content}
</body>
</html>

